body {
    background-color: black;
}

.container {

    height: 675px;
    max-width: 80%;
    min-width: 600px;
    margin: auto;
    position: relative;
}

img {
    position: absolute;

    max-width: 100%;
    max-height: 100%;
}

h1 {
    color: #c8102e;
    text-align: center;
    border: 5px #c8102e solid;
    width: 76%;
    padding: 20px;
    margin: auto;
    background-color: black;
}

#team {
    color: #c8102e;
    border: 5px #c8102e solid;
    height: 300px;
    width: 30%;
    padding: 30px;
    margin: 50px;
    position: absolute;
    background-color: black;
}

li {
    padding: 5px;
}