body {
    background-color: black;
}

.container {

    height: 675px;
    max-width: 80%;
    min-width: 600px;
    margin: auto;
    position: relative;
    /* background-image: url("https://freight.cargo.site/t/original/i/8205dd31e3c4695c16dcef9540b39c8d4d78a040572264c88aac56e506e9d559/04-04-18-12-06-48.png"); */
}

img {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
    max-width: 100%;
    max-height: 100%;
}

h1 {
    color: #c8102e;
    text-align: center;
    border: 5px #c8102e solid;
    width: 76%;
    padding: 20px;
    margin: auto;
    /* margin: 50px 100px 10px 100px; */
    background-color: black;
}

#team {
    color: #c8102e;
    border: 5px #c8102e solid;
    height: 300px;
    width: 30%;
    padding: 30px;
    margin: 50px;
    position: absolute;
    background-color: black;
}

li {
    padding: 5px;
}